<template>
    <div>
        <form-students @saveStudent="saveStudent" @cancelStudent="cancelStudent" :studentEdit="student"></form-students>
        <br />
        <list-students :students="students" @edit="editStudent" @delete="deleteStudent"></list-students>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                students: [{
                    id: 1,
                    university: 'hola mundo',
                    career: 'hola mundo',
                    first_name: 'hola mundo',
                    last_name: 'hola mundo',
                    type_document: 'hola mundo',
                    document_number: 'hola mundo',
                    sex: 'hola mundo',
                    birth_date: 'hola mundo',
                    editMode: false
                }],
                student: {
                    id: 0,
                    consecut: 0,
                    university: '',
                    career: '',
                    first_name: '',
                    last_name: '',
                    type_document: '',
                    document_number: '',
                    sex: '',
                    birth_date: '',
                    editMode: false
                }
            }
        },
        mounted() {            
            axios.get(window.location.pathname + 'students', {}).then( 
                (response) => this.students = response.data
            )
        },
        methods: {
            saveStudent(student) {
                if (student.editMode) {
                    this.students[student.consecut] = student
                    console.log(student)
                    axios.put(window.location.pathname + 'students/' + student.id, student).then( 
                        (response) => {
                            if (response.data.success) {
                                this.students.push(student)
                            }
                        }
                    )

                    this.student = {
                        id: 0,
                        consecut: 0,
                        university: '',
                        career: '',
                        first_name: '',
                        last_name: '',
                        type_document: '',
                        document_number: '',
                        sex: '',
                        birth_date: '',
                        editMode: false
                    }
                } else {                    
                    axios.post(window.location.pathname + 'students', student).then( 
                        (response) => {
                            if (response.data.success) {
                                student.id = response.data.id
                                this.students.push(student)
                            }
                        }
                    )
                }
                
            },
            editStudent(index) {                
                this.students[index].editMode = true
                this.students[index].consecut = index
                this.student = this.students[index]
            },
            deleteStudent(index) {
                axios.delete(window.location.pathname + 'students/' + this.students[index].id, {}).then( 
                    (response) => {
                        if (response.data.success) {
                            this.students.splice(index, 1)
                        }
                    }
                )
                
            },
            cancelStudent() {
                this.student = {
                    id: 0,
                    consecut: 0,
                    university: '',
                    career: '',
                    first_name: '',
                    last_name: '',
                    type_document: '',
                    document_number: '',
                    sex: '',
                    birth_date: '',
                    editMode: false
                }
            }
        }
    }
</script>