<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Formulario de registro de estudiantes</div>

                <div class="card-body">
                    <form class="form-inline" v-on:submit.prevent="saveStudent()">

                        <div class="form-group col-md-6">
                            <label for="" class="col-md-3">Universidad</label>
                            <input type="text" class="form-control col-md-9" v-model="student.university" />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="" class="col-md-3">Carrera</label>
                            <input type="text" class="form-control col-md-9" v-model="student.career" />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="" class="col-md-3">Tipo de documento</label>
                            <select class="form-control col-md-9" v-model="student.type_document">
                                <option value="">Seleccione una opción</option>
                                <option value="Cedula de Ciudadania">Cedula de Ciudadania</option>
                                <option value="Tarjeta de identidad">Tarjeta de identidad</option>
                                <option value="Pasaporte">Pasaporte</option>
                                <option value="Cedula de extranjeria">Cedula de extranjeria</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="" class="col-md-3">Numero de documento</label>
                            <input type="number" class="form-control col-md-9" v-model="student.document_number" />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="" class="col-md-3">Nombre(s)</label>
                            <input type="text" class="form-control col-md-9" v-model="student.first_name" />
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="" class="col-md-3">Apellido(s)</label>
                            <input type="text" class="form-control col-md-9" v-model="student.last_name" />
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="" class="col-md-3">Sexo</label>
                            <select class="form-control col-md-9" v-model="student.sex">
                                <option value="">Seleccione una opción</option>
                                <option value="femenino">Femenino</option>
                                <option value="masculino">Masculino</option>                                
                            </select>
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="" class="col-md-3">Fecha de nacimiento</label>
                            <input type="date" class="form-control col-md-9" v-model="student.birth_date" />
                        </div>
                                                
                        <div class="form-group col-md-2">
                            <button type="button" class="btn btn-danger col-md-12" v-on:click="resetStudent">Cancelar</button>
                        </div>
                        <div class="form-group col-md-2">
                            <button type="submit" class="btn btn-success col-md-12">Guardar</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['studentEdit'],
        data() {
            return {
                student: {
                    id: 0,
                    consecut: 0,
                    university: '',
                    career: '',
                    type_document: '',
                    document_number: '',
                    first_name: '',
                    last_name: '',
                    sex: '',
                    birth_date: '',
                    editMode: false
                }
            }
        },
        mounted() {
            console.log('Form')
        },
        methods: {
            saveStudent() {       
                let student = this.student        
                this.$emit('saveStudent', student)
                this.student = {
                    id: 0,
                    consecut: 0,
                    university: '',
                    career: '',
                    type_document: '',
                    document_number: '',
                    first_name: '',
                    last_name: '',
                    sex: '',
                    birth_date: '',
                    editMode: false
                }
            },
            resetStudent() {
                this.student = {
                    id: 0,
                    consecut: 0,
                    university: '',
                    career: '',
                    type_document: '',
                    document_number: '',
                    first_name: '',
                    last_name: '',
                    sex: '',
                    birth_date: '',
                    editMode: false
                }
                this.$emit('cancelStudent')
            }
        },
        watch: {
            studentEdit(newVal, oldVal) {
                console.log(newVal)
                if (newVal.editMode) {
                    this.student = newVal
                }
                
            }
        }
    }
</script>