<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Lista de estudiantes</div>

                <div class="card-body">
                    <table class="table table-stripe">
                        <thead>
                            <th>Universidad</th>
                            <th>Carrera</th>
                            <th>Nombre</th>
                            <th>Documento</th>
                            <th>Sexo</th>
                            <th>Fecha nacimiento</th>
                            <th>Acciones</th>
                        </thead>
                        <tbody>
                            <tr v-for="(student, index) in students" :key="student.id">
                                <td>{{student.university}}</td>
                                <td>{{student.career}}</td>
                                <td>{{student.first_name + ' ' + student.last_name}}</td>
                                <td>{{student.type_document + ' ' + student.document_number}}</td>
                                <td>{{student.sex}}</td>
                                <td>{{student.birth_date}}</td>
                                <td>                                    
                                    <button class="btn btn-info" v-on:click="editStudent(index)">Editar</button>

                                    <button class="btn btn-danger" v-on:click="deleteStudent(index)">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['students'],
        mounted() {

        },
        methods: {
            editStudent(index) {
                this.$emit('edit', index)
            },
            deleteStudent(index) {
                this.$emit('delete', index)
            }
        }
    }
</script>